# Database Configuration
DB_HOST=localhost
DB_PORT=3447 # Synology MariaDB 10 uses 3307, MariaDB 5 uses 3306, user specified 3447
DB_USER=root
DB_PASSWORD=Welcome25$
DB_NAME=baahi

# Server Configuration
PORT=3000

# Admin Configuration
ADMIN_SECRET=your_admin_password_here
